:root {
    --mui-palette-primary-main: #3d5a80;
    --mui-palette-secondary-main: #98c1d9;
    --mui-palette-info-main: #809899;
    --mui-palette-error-main: #ee6c4d;
    --mui-palette-warning-main: #FFE700;
    --mui-palette-success-main: #00FF9C;
}

a, a:active {
    color: #000;
    text-decoration: none;
}

* {
    line-height: 1.6;
}