.toolbar-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 10px;

    button {
        margin: 0;
        font-size: 1rem;
        padding: 10px;
        background: #fff;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    
        &.active {
            color: rgba(0, 0, 0, 1);
            
        }
        
        &.inactive {
            color: rgba(0, 0, 0, 0.4);
        }
    }
}
