<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="false"
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logconsole" xsi:type="ColoredConsole" layout ="${longdate} ${uppercase:${level}} ${message}"/>

		<target name="database" xsi:type="Database"
				connectionString="${configsetting:name=ConnectionStrings.DefaultConnection}"
				commandText="INSERT INTO [Blog].[dbo].[Logs](Message,Level,Logger,Date) VALUES (@Message,@Level,@Logger,@Date)">

			<parameter name="@Date" layout="${longdate}" dbtype="DateTime"></parameter>
			<parameter name="@Message" layout="${message}"></parameter>
			<parameter name="@Level" layout="${level}"></parameter>
			<parameter name="@Logger" layout="${logger}"></parameter>
		</target>			
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole"></logger>
		<logger name="*" minlevel="Trace" writeTo="database"></logger>
	</rules>
</nlog>