.profile-header-upper-background {
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.profile-header-wrapper {
    width: 70vw;
    min-width: 300px;
    margin: 0 auto;
}