.upper-background {
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) !important;
    height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.wrapper {
    width: 70vw;
    min-width: 300px;
    margin: 0 auto;
}

.avatar {
    min-width: 115px;
    min-height: 115px;
    max-width: 320px;
    max-height: 320px;
    margin-top: -50%;
    width: 15vw !important;
    height: 15vw !important;
    font-size: 128px !important;
}

.settings {
    display:flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.upper-section {
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-section {
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: column;

    &__activity {
        margin: 32px 0 0 0;
        display: flex;
        gap: 32px;
    }
}