.passkey-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.passkey-info {
    &__item {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }

    &__caption {
        font-weight: 600;
    }

    &__delete {
        margin: 0 !important;
        padding: 0 !important;
        
            &--flash {
              animation: blink 0.8s linear infinite;
            }
    }
}

@keyframes blink {
  50% {
    opacity: 30%;
  }
}