@import "../../assets/variables";

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    &__field {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;

        &--error {
            color: $error;
            font-style: italic;
            font-weight: bold;
        }
    }

}