.profile-info-container {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.security {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}