.security {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 10px; 
    align-items: center;
    gap: 10px;
}

.form-field {
    max-width: 400px;
    width: 100% !important;
    min-width: 0;
    padding: 0 0 16px 0 !important;
}

.error {
    color: red;
    font-style: italic
}

.avatar-section {
    min-height: 100px;
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}

.profile-section {
    &__header {
        padding-bottom: 8px;
    }

    &__wrapper {
        border-top: 1px solid rgba(0,0,0,0.1);
        padding-top: 10px; 

        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;   
    }
}

.password-section {
    &__wrapper {
        margin: 20px 0;
        border-top: 1px solid rgba(0,0,0,0.1);
        padding-top: 10px; 
    }
}
